[Desktop Entry]
Name=KPeg
Name[de]=KPeg
Name[en_GB]=KPeg
Name[es]=KPeg
Name[et]=KPeg
Name[fr]=KPeg
Name[it]=KPeg
Name[km]=KPeg
Name[nds]=KPeg
Name[pt]=KPeg
Name[pt_BR]=KPeg
Name[sv]=Kpjäs
Name[uk]=KPeg
Name[x-test]=xxKPegxx
GenericName=Peg Solitaire Game
GenericName[de]=Peg-Solitär
GenericName[en_GB]=Peg Solitaire Game
GenericName[es]=Juego solitario de clavijas
GenericName[et]=Peg Solitaire
GenericName[fr]=Jeu de solitaire Peg
GenericName[it]=Gioco del solitario peg
GenericName[km]=ល្បែង Peg Solitaire
GenericName[pt]=Jogo Solitário de Pinos
GenericName[pt_BR]=Jogo Solitário de Pinos
GenericName[sv]=Pinnpatiens
GenericName[uk]=Гра у фішки
GenericName[x-test]=xxPeg Solitaire Gamexx
Exec=kpeg
Icon=kpeg
Type=Application
Terminal=false
Categories=Qt;KDE;Game;BoardGame;
