[Desktop Entry]
Name=KPeg
Name[en_GB]=KPeg
Name[es]=KPeg
Name[fr]=KPeg
Name[it]=KPeg
Name[pt]=KPeg
Name[pt_BR]=KPeg
Name[sv]=Kpjäs
Name[uk]=KPeg
Name[x-test]=xxKPegxx
GenericName=Peg Solitaire Game
GenericName[es]=Juego solitario de clavijas
GenericName[pt]=Jogo Solitário de Pinos
GenericName[sv]=Pinnpatiens
GenericName[uk]=Гра у фішки
GenericName[x-test]=xxPeg Solitaire Gamexx
Exec=kpeg
Icon=kpeg
Type=Application
Terminal=false
Categories=Qt;KDE;Game;BoardGame;
