[Desktop Entry]
Name=KPeg
GenericName=Peg Solitaire Game
Icon=kpeg
Type=Application
Exec=kpeg -qwindowtitle %c
X-DocPath=kpeg/index.html
StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
X-DBUS-ServiceName=org.kde.kpeg
