[Desktop Entry]
Name=KPeg
Name[ca]=KPeg
Name[es]=KPeg
Name[nl]=KPeg
Name[pl]=KPeg
Name[pt]=KPeg
Name[pt_BR]=KPeg
Name[sv]=Solitär
Name[uk]=KPeg
Name[x-test]=xxKPegxx
GenericName=Peg Solitaire Game
GenericName[ca]=Joc del solitari Peg
GenericName[es]=Juego del solitario Peg
GenericName[nl]=Solitaire-spel Peg
GenericName[pl]=Gra w pasjansa Peg
GenericName[pt]=Jogo Solitário de Pinos
GenericName[pt_BR]=Jogo Solitário de Resta Um
GenericName[sv]=Brädspelet Solitär
GenericName[uk]=Гра у фішки
GenericName[x-test]=xxPeg Solitaire Gamexx
Icon=kpeg
Type=Application
Exec=kpeg -qwindowtitle %c
X-DocPath=kpeg/index.html
StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
X-DBUS-ServiceName=org.kde.kpeg
