[Desktop Entry]
Name=KPeg
Name[bs]=KPeg
Name[cs]=KPeg
Name[de]=KPeg
Name[en_GB]=KPeg
Name[es]=KPeg
Name[et]=KPeg
Name[fr]=KPeg
Name[ga]=KPeg
Name[hu]=KPeg
Name[it]=KPeg
Name[km]=KPeg
Name[lt]=KPeg
Name[mr]=के-पेग
Name[nds]=KPeg
Name[nl]=KPeg
Name[pl]=KPeg
Name[pt]=KPeg
Name[pt_BR]=KPeg
Name[sk]=KPeg
Name[sr]=К‑клин
Name[sr@ijekavian]=К‑клин
Name[sr@ijekavianlatin]=K‑klin
Name[sr@latin]=K‑klin
Name[sv]=Kpjäs
Name[tr]=KPeg
Name[uk]=KPeg
Name[x-test]=xxKPegxx
GenericName=Peg Solitaire Game
GenericName[bs]=Igrica Peg Solitaire
GenericName[de]=Peg-Solitär
GenericName[en_GB]=Peg Solitaire Game
GenericName[es]=Juego solitario de clavijas
GenericName[et]=Peg Solitaire
GenericName[fr]=Jeu de solitaire Peg
GenericName[hu]=Peg pasziánsz játék
GenericName[it]=Gioco del solitario peg
GenericName[km]=ល្បែង Peg Solitaire
GenericName[lt]=Peg Solitaire žaidimas
GenericName[nl]=Solitaire spel Peg
GenericName[pl]=Gra w pasjansa Peg
GenericName[pt]=Jogo Solitário de Pinos
GenericName[pt_BR]=Jogo Solitário de Pinos
GenericName[sk]=Hra Peg Solitaire
GenericName[sr]=Играње клин‑пасијанса
GenericName[sr@ijekavian]=Играње клин‑пасијанса
GenericName[sr@ijekavianlatin]=Igranje klin‑pasijansa
GenericName[sr@latin]=Igranje klin‑pasijansa
GenericName[sv]=Pinnpatiens
GenericName[tr]=Peg Kağıt Oyunu
GenericName[uk]=Гра у фішки
GenericName[x-test]=xxPeg Solitaire Gamexx
Icon=kpeg
Type=Application
Exec=kpeg -qwindowtitle %c
X-DocPath=kpeg/index.html
StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
X-DBUS-ServiceName=org.kde.kpeg
