[Desktop Entry]
Name=Peg-E
Name[sv]=Pjäs-E
GenericName=Peg Elimination Game
GenericName[et]=Pulkade likvideerimise mäng
GenericName[nds]=Splinten wegdoon
GenericName[pt]=Jogo de Eliminação de Pinos
GenericName[pt_BR]=Jogo de eliminação Resta um
GenericName[sv]=Pjäselimineringsspel
GenericName[uk]=Гра в усування фішок
Exec=pege
Icon=pege
Terminal=false
Type=Application
Terminal=false
Categories=Qt;KDE;Game;BoardGame;
