[Desktop Entry]
Name=KPeg
GenericName=Peg Elimination Game
GenericName[el]=Παιχνίδι Αποβολής Πασσάλων
GenericName[en_GB]=Peg Elimination Game
GenericName[et]=Nupukeste likvideerimise mäng
GenericName[fr]=Jeu d'élimination Peg
GenericName[gl]=Xogo de eliminación de estacas
GenericName[it]=Gioco di eliminazione di pioli
GenericName[km]=ល្បែង​លុបំបាត់ Peg
GenericName[nds]=Splinten wegdoon
GenericName[pt]=Jogo de Eliminação de Pinos
GenericName[pt_BR]=Jogo de eliminação Resta um
GenericName[sv]=Pjäselimineringsspel
GenericName[uk]=Гра в усування фішок
GenericName[x-test]=xxPeg Elimination Gamexx
Exec=pege
Icon=pege
Type=Application
Terminal=false
Categories=Qt;KDE;Game;BoardGame;
