[KGameTheme]
VersionFormat=1
Name=Default - Blue
Name[ca]=Per defecte - Blau
Name[cs]=Výchozí modrý
Name[de]=Standard – Blau
Name[en_GB]=Default - Blue
Name[es]=Por omisión: azul
Name[fi]=Oletus – sininen
Name[gl]=Predeterminado - Azul
Name[nl]=Standaard -- blauw
Name[pl]=Domyślny - Niebieski
Name[pt]=Predefinição - Azul
Name[pt_BR]=Padrão - Azul
Name[sk]=Predvolená - modrá
Name[sl]=Privzeta - modra
Name[sv]=Standard - Blå
Name[tr]=Varsayılan - Mavi
Name[uk]=Типова — Синя
Name[x-test]=xxDefault - Bluexx
Name[zh_CN]=默认 - 蓝
Name[zh_TW]=預設 - 藍
Description=Default theme with blue pegs
Description[ca]=Tema per defecte amb peces blaves
Description[de]=Das Standard-Design mit blauen Steinen
Description[en_GB]=Default theme with blue pegs
Description[es]=Tema por omisión con clavijas azules
Description[fi]=Sinitappinen oletusteema
Description[gl]=Tema predeterminado con pezas azuis.
Description[nl]=Standaardthema met blauwe pinnen
Description[pl]=Domyślny wystrój z niebieskimi pegami
Description[pt]=Tema predefinido com pinos azuis
Description[pt_BR]=Tema padrão com peças azuis
Description[sk]=Predvolená téme s modrými vešiakmi
Description[sl]=Privzeta tema z modrimi klini
Description[sv]=Standardtema med blåa pjäser
Description[tr]=Varsayılan mavi peg'li tema
Description[uk]=Типова тема з синіми фішками
Description[x-test]=xxDefault theme with blue pegsxx
Description[zh_CN]=蓝色竹签的默认主题
Description[zh_TW]=預設藍色主題
FileName=default-blue.svgz
Author=Ronny Yabar Aizcorbe
AuthorEmail=ronnycontacto@gmail.com
Preview=default-blue.png
