[KGameTheme]
VersionFormat=1
Name=Default - Purple
Description=Default theme with purple pegs
FileName=default-purple.svgz
Author=Graeme Gott
AuthorEmail=graeme@gottcode.org
Preview=default-purple.png
