[KGameTheme]
VersionFormat=1
Name=Default - Green
Name[de]=Standard - Grün
Name[et]=Vaikimisi - roheline
Name[fr]=Vert par défaut
Name[ga]=Réamhshocrú - Uaine
Name[gl]=Predeterminado, verde
Name[km]=លំនាំដើម - បៃតង
Name[nds]=Standard - Gröön
Name[pt]=Predefinição - Verde
Name[pt_BR]=Padrão - verde
Name[sv]=Standard - Grön
Name[tr]=Öntanımlı - Yeşil
Name[uk]=Типова — Зелена
Name[x-test]=xxDefault - Greenxx
Description=Default theme with green pegs
Description[et]=Vaikimisi teema roheliste nupukestega
Description[ga]=Téama réamhshocraithe le pionnaí uaine
Description[gl]=Tema predeterminado con estacas verdes
Description[km]=ស្បែក​លំនាំដើម​ដែលមាន​ pegs បៃតង
Description[nds]=Standardmuster mit gröön Splinten
Description[pt]=O tema predefinido com pinos verdes
Description[pt_BR]=Tema padrão com peças verdes
Description[sv]=Standardtema med gröna pjäser
Description[uk]=Типова тема з зеленими фішками
Description[x-test]=xxDefault theme with green pegsxx
FileName=default-green.svgz
Author=Graeme Gott
AuthorEmail=graeme@gottcode.org
Preview=default-green.png
