[KGameTheme]
VersionFormat=1
Name=Default Red
Description=Wood theme for KPeg
FileName=default-red.svgz
Author=Ronny Yabar Aizcorbe
AuthorEmail=ronnycontacto@gmail.com
Preview=default-red.png
