[KGameTheme]
VersionFormat=1
Name=Default
Name[ca]=Per defecte
Name[cs]=Výchozí
Name[de]=Standard
Name[en_GB]=Default
Name[es]=Por omisión
Name[fi]=Oletus
Name[fr]=Défaut
Name[gl]=Predeterminado
Name[nl]=Standaard
Name[pl]=Domyślne
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[sk]=Predvolené
Name[sl]=Privzeta
Name[sv]=Standard
Name[tr]=Varsayılan
Name[uk]=Типова
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設
Description=Default theme for KPeg
Description[ca]=Tema per defecte pel KPeg
Description[cs]=Výchozí motiv pro KPeg
Description[de]=Das Standard-Design für KPeg
Description[en_GB]=Default theme for KPeg
Description[es]=Tema por omisión para KPeg
Description[fi]=KPegin oletusteema
Description[fr]=Thème par défaut pour KPeg
Description[gl]=Tema predeterminado para KPeg.
Description[nl]=Standaardthema voor KPeg
Description[pl]=Domyślny wystrój dla KPeg
Description[pt]=Tema predefinido do KPeg
Description[pt_BR]=Tema padrão do KPeg
Description[sk]=Predvolená téma pre KPeg
Description[sl]=Privzeta tema za KPeg
Description[sv]=Standardtema för Solitär
Description[tr]=KPeg için varsayılan tema
Description[uk]=Типова тема для KPeg
Description[x-test]=xxDefault theme for KPegxx
Description[zh_CN]=KPeg 的默认主题
Description[zh_TW]=KPeg 預設主題
FileName=default.svgz
Author=Ronny Yabar Aizcorbe
AuthorEmail=ronny@kde.org
Preview=default.png
