[KGameTheme]
VersionFormat=1
Name=Default - Blue
Name[de]=Standard – Blau
Name[en_GB]=Default - Blue
Name[es]=Predeterminado - azul
Name[et]=Vaikimisi - sinine
Name[fr]=Défaut - Bleu
Name[it]=Predefinito - Blu
Name[km]=លំនាំដើម - ពណ៌ខៀវ
Name[ms]=Default - Biru
Name[nds]=Standard - Blaag
Name[nl]=Standaard - blauw
Name[pl]=Domyślny - niebieski
Name[pt]=Predefinição - Azul
Name[pt_BR]=Padrão - azul
Name[sr]=Подразумевано — плаво
Name[sr@ijekavian]=Подразумијевано — плаво
Name[sr@ijekavianlatin]=Podrazumijevano — plavo
Name[sr@latin]=Podrazumevano — plavo
Name[sv]=Standard - Blå
Name[uk]=Типова — Синя
Name[x-test]=xxDefault - Bluexx
Description=Default theme with blue pegs
Description[de]=Das Standard-Design mit blauen Knöpfen.
Description[en_GB]=Default theme with blue pegs
Description[es]=Tema predeterminado con clavijas azules
Description[et]=Vaikimisi teema siniste nupukestega
Description[fr]=Thème par défaut avec des chevilles bleus
Description[it]=Tema predefinito con pioli blu
Description[km]=ស្បែក​លំនាំដើម​ដែល​មាន pegs ពណ៌ខៀវ
Description[pl]=Domyślny motyw z niebieskimi kołkami
Description[pt]=O tema predefinido com pinos azuis
Description[pt_BR]=Tema padrão com peças azuis
Description[sr]=Подразумевана тема са плавим клиновима
Description[sr@ijekavian]=Подразумијевана тема са плавим клиновима
Description[sr@ijekavianlatin]=Podrazumijevana tema sa plavim klinovima
Description[sr@latin]=Podrazumevana tema sa plavim klinovima
Description[sv]=Standardtema med blåa pjäser
Description[uk]=Типова тема з синіми фішками
Description[x-test]=xxDefault theme with blue pegsxx
FileName=default-blue.svgz
Author=Ronny Yabar Aizcorbe
AuthorEmail=ronnycontacto@gmail.com
Preview=default-blue.png
