[KGameTheme]
VersionFormat=1
Name=Default - Red
Name[de]=Standard - Rot
Name[et]=Vaikimisi - punane
Name[fr]=Rouge par défaut
Name[ga]=Réamhshocrú - Dearg
Name[gl]=Predeterminado, vermello
Name[it]=Predefinito - Rosso
Name[km]=លំនាំដើម - ក្រហម
Name[nds]=Standard - Root
Name[pt]=Predefinição - Vermelho
Name[pt_BR]=Padrão - vermelho
Name[sv]=Standard - Röd
Name[tr]=Öntanımlı - Kırmızı
Name[uk]=Типова — Червона
Name[x-test]=xxDefault - Redxx
Description=Default theme with red pegs
Description[et]=Vaikimisi teema punaste nupukestega
Description[fr]=Thème par défaut avec des chevilles rouges
Description[ga]=Téama réamhshocraithe le pionnaí dearga
Description[gl]=Tema predeterminado con estacas vermellas
Description[it]=Tema predefinito con pioli rossi
Description[km]=ស្បែក​លំនាំដើម​ដែល​មាន pegs ក្រហម
Description[nds]=Standardmuster mit root Splinten
Description[pt]=O tema predefinido com pinos vermelhos
Description[pt_BR]=Tema padrão com peças vermelhas
Description[sv]=Standardtema med röda pjäser
Description[uk]=Типова тема з червоними фішками
Description[x-test]=xxDefault theme with red pegsxx
FileName=default-red.svgz
Author=Graeme Gott
AuthorEmail=graeme@gottcode.org
Preview=default-red.png
