[KGameTheme]
VersionFormat=1
Name=Default
Name[cs]=Výchozí
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[en_GB]=Default
Name[eo]=Defaŭlta
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[fr]=Défaut
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[hi]=डिफ़ॉल्ट
Name[hne]=डिफाल्ट
Name[hsb]=Standard
Name[it]=Predefinito
Name[ja]=標準
Name[km]=លំនាំដើម
Name[ku]=Standard
Name[nds]=Standard
Name[oc]=Defaut
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[sv]=Förval
Name[tr]=Öntanımlı
Name[uk]=Типовий
Name[x-test]=xxDefaultxx
Description=Default theme for KPeg
Description[es]=Tema predeterminado para KPeg
Description[fr]=Thème par défaut de KPeg
Description[pt]=Tema predefinido do KPeg
Description[pt_BR]=Tema padrão para o KPeg
Description[sv]=Standardtema för Pinnpatiens
Description[uk]=Типова тема для KPeg
Description[x-test]=xxDefault theme for KPegxx
FileName=default.svgz
Author=Ronny Yabar Aizcorbe
AuthorEmail=ronnycontacto@gmail.com
Preview=default.png
